<!DOCTYPE html>
<html>
<head>
	<title>Skate Local</title>
	<link href = "mainstyle.css" rel = "stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
	<div id = "top">
		<div id = "layer">
			<div id = "user">
				<h1>Skate Local</h1>
				<br>
				<br>
				<p>find local skate shops/products around you!</P>
				<br>
				<br>
				<div id = "zip">
					<textarea rows = "1" cols = "14" id = "enter" placeholder = "enter zip code"></textarea>
				</div>
				<div id = "btn">
					<button id = "press">
						find shops
					</button>
				</div>
			</div>
		</div>	
	</div>
	<div id = "reveal">
		<div id = "info">
			<p id = "sorry"></p>
		</div>
	</div>
	
	<script>
		$(document).ready(function() {
			$('#reveal').hide();
			$('#btn').click(function() {
				if($("textarea").val().length) {
							var code = $('textarea').val()
							$('#reveal').show();
							$('#sorry').html("<p>there's no backend sorry i can't tell you the local skate shops around </p>" + code);					
							//$('#reveal').scrollTop($('#reveal')[0].scrollHeight, 'slow');
							$('body').animate({
									scrollTop: $('#reveal')[0].scrollHeight
							}, 500);
				}
			});
			$('textarea').keypress(function(e) {
				if(e.which == 13) {
					if($("textarea").val().length) {
								var code = $('textarea').val()
								$('#reveal').show();
								$('#sorry').html("<p>there's no backend sorry i can't tell you the local skate shops around </p>" + code);					
								//$('#reveal').scrollTop($('#reveal')[0].scrollHeight, 'slow');
								$('body').animate({
										scrollTop: $('#reveal')[0].scrollHeight
								}, 500);
								e.preventDefault();
								$('textarea').val() = 0;
					}
				}
			});
		});
	</script>
</body>
</ntml>