* { margin:0; padding:0; }   

body {
	font-family:Lato;
	color: white;
	
}

textarea{
	resize:none;
	overflow:hidden;
	font-family:Lato;
	font-size:20px;
	border-radius:4px;
}
textarea:focus {
	outline:0;
}

button {
	border:none;
	background:none;
	focus:0;
	border-radius: 4px;
	font-family:Lato;
	font-size:15px;
	height:30px;
	width:100px;
	background-color: #FFFFA3;
}
button:focus  {
	outline:0;
}
button:hover {
	background-color: #FFFF75;
}

#top {
	height:100vh;
	width:100%;
	background-image: url("back.jpg");
	background-repeat: none;
	display:inline-block;
}
#layer {
	top:0;
    background: rgba(33, 41, 86, 0.7);
    width: 100%;
    height: 100vh;
    display: inline-block;

}
#top h1 {
	text-align: center;
	font-size: 80px;
	border-color:black;
}

#top p {
	text-align: center;
	font-size:30px;
	border-color:black;
}

#user {
	display: block;
	padding-top:15%;
	opacity: 1;
}
#btn {
	display: block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin:1%;
}
#zip {
	display: block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#shops {
	background-color: #FFFFD6;
	color: rgb(33, 41, 86);
	padding:4%;
}
#bottom {
	background-color:#FFFFD6;
	width:100%;
}
#shop {
	padding:3%;
	text-align:center;
	width:38%;
	margin-left:auto;
	margin-right:auto;
	background-color:rgb(121, 121, 202);
	border-radius:6px;
}
#shop p {
	color:#FFFFF;
}
#info {
	margin-top:20%;
	margin-bottom:30%;
	text-align:center;
	color:black;
	width:100%;
	height:100%;
}
#zipcode {
}
#sorry{
}
input {
	display: block;
	margin: 0 auto;
	padding:1%;
	border-radius:4px;
	border:none;
	font-size:1em;
}
a {
	color:#FFFFFF;
	text-decoration: none;
}
a:visited {
	color:#FFFFFF;
	text-decoration: none;
}
#location {
	margin:4%;
}
#name {
}
#address {
}
#wrap {
	margin:3%;
}